﻿@font-face {
    font-family: 'Sofia-light';
    src: url('./Fonts/Sofia/Sofia-Pro-Light-Az.otf');
}

@font-face {
    font-family: 'Sofia-light-i';
    src: url('./Fonts/Sofia/Sofia-Pro-Light-Italic-Az.otf');
}

@font-face {
    font-family: 'Sofia-medium';
    src: url('./Fonts/Sofia/Sofia-Pro-Medium-Az.otf');
}

@font-face {
    font-family: 'Sofia-regular';
    src: url('./Fonts/Sofia/Sofia-Pro-Regular-Az.otf');
}

@font-face {
    font-family: 'Sofia-bold';
    src: url('./Fonts/Sofia/Sofia-Pro-Semi-Bold-Az.otf');
}

@font-face {
    font-family: 'Sofia-bold-i';
    src: url('./Fonts/Sofia/Sofia-Pro-Semi-Bold-Italic-Az.otf');
}

body, html {
    font-family: Sofia-regular;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
html {
    /* height: 1110px;
    width: 1920px; */
    margin: 0;
}

body {
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
}

.page {
    display: none;
}

#startCenter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.onePanel, .adviesPanel {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fef4f2;
}

    .onePanel .startBorder {
        height: 20%;
    }

    .onePanel .startTop {
        font-family: Sofia-bold;
        color: #eb008b;
        font-size: 33pt;
        height: 30%;
        padding: 0;
        margin: 0;
        border: none;
    }

    .onePanel .startMiddle {
        font-family: 'Sofia-medium';
        color: #574d66;
        font-size: 18pt;
        padding: 0;
        margin: 0;
        border: none;
        height: 15%;
    }

    .onePanel .startBottom {
        padding: 0;
        margin: 0;
        border: none;
        height: 15%;
    }

#btnStartTest {
    width: 252px;
    height: 75px;
    border: none;
    background-size: 100% 100%;
    background-color: #eb008b;
    font-family: 'Sofia-medium';
    color: #fff;
    font-size: 26pt;
    outline: none;
    cursor: pointer;
}

    #btnStartTest:active {
        transform: translateY(2px);
    }


.testbackground {
    background-image: url('Content/bg_2halves.png');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.leftPanel {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
    color: #fff;
}

.rightPanel {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden;
    color: #6c617b;
}

#rightContent, #leftContent {
    float: left;
    width: 100%;
    height: 100%;
}

.top {
    margin-top: 20px;
    height: 20%;
    width: 100%;
}

.middle {
    height: 60%;
    width: 100%;
}


#startCenter {
    width: 100%;
    height: 100%;
}

#movableLeft, #movableRight {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 512px;
}


#movableLeft {
    font-family: Sofia-bold;
    font-size: 46px;
    width: 80%;
}

div.stripe {
    display: inline-block;
    min-height: 1px;
    border-bottom: 1px solid #eb008b;
    height: 1px;
    width: 20%;
    margin-bottom: 5px;
}


div.stripetext {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-family: Sofia-medium;
    font-size: 20px;
    color: #eb008b;
}

.bottom {
    position: fixed;
    width: 50%;
    height: 100%;
    margin-top: 4%;
}

div.progress {
    font-family: Sofia-medium;
    font-size: 12px;
    display: inline-block;
    width: 22%;
    margin-left: -2px;
    margin-right: -2px;
    color: #fbd4cd;
}

    div.progress .whiteText {
        color: #fff;
    }


    div.progress .text {
        margin-right: -15px;
    }

    div.progress .one, .two, .three, .four {
        margin-top: 15px;
        z-index: 1;
    }

    div.progress .one {
        height: 3px;
    }

    div.progress .two, .three {
        min-height: 1px;
        border-bottom: 3px solid #fbd4cd;
        height: 1px;
        margin-left: -39%;
        margin-right: 50%;
    }

    div.progress .four {
        min-height: 1px;
        border-bottom: 3px solid #fbd4cd;
        height: 1px;
        margin-left: -39%;
        margin-right: 50%;
    }

    div.progress .active {
        z-index: 2;
        border-bottom: 1px solid #fff;
        margin-top: -3px;
        margin-left: -44%;
    }

div.circle {
    z-index: 3;
    background: #fbd4cd;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: -7px;
}

div.activecircle {
    z-index: 4;
    background: #fff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: 50.5%;
    margin-top: -12px;
}

/*right part*/
div #rightContent .top {
    text-align: right;
}

#btnClose, #btnCloseAdvies {
    margin-right: 30px;
    width: 35px;
    height: 35px;
    background-image: url('Content/close_btn.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    cursor: pointer;
    outline: none;
}

    #btnClose:active, #btnCloseAdvies:active {
        background-image: url('Content/close_btn_active.png');
        transform: translateY(2px);
    }

.btnKeuze, .btnKeuzeLarge {
    display: inline-table;
    padding: 10px 5px 0px 5px;
    font-family: Sofia-bold-i;
    color: #eb008b;
    font-size: 20px;
    width: 214px;
    height: 112px;
    background-image: url('Content/option_btn.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

    .btnKeuze:active, .btnKeuzeLarge:active {
        background-image: url('Content/option_btn_active.png');
        transform: translateY(2px);
    }

.btnKeuzeLarge {
    background-image: url('Content/option_large_btn.png');
    height: 151px;
}

    .btnKeuzeLarge:active {
        background-image: url('Content/option_large_btn_active.png');
    }

    .btnKeuzeLarge .sectietop {
        margin-top: 40px;
    }

.btnKeuze .sectietop {
    display: table-cell;
    vertical-align: middle;
    padding: 7px 7px 15px 7px;
}

.btnKeuzeLarge .sectiebottom {
    font-family: Sofia-medium;
    font-size: 16px;
    color: #fff;
    padding: 47px 2px 2px 2px;
    overflow: visible;
    vertical-align: middle;
}

div #rightContent .bottom {
    text-align: left;
}

#btnBack, #btnBackTwo {
    margin-left: 30px;
    width: 35px;
    height: 35px;
    background-image: url('Content/back_btn_grey.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

    #btnBack:active, #btnBackTwo:active {
        background-image: url('Content/back_btn_grey_active.png');
        transform: translateY(2px);
    }

.adviesPanel #btnClose {
    float: right;
}

.adviesPanel .top {
    margin-top: 0px;
    padding-top: 20px;
}

.adviesPanel .stripe {
    border-bottom: 1px solid #eb008b;
}

.adviesPanel .stripetext {
    color: #eb008b;
}

.floatleftDiv {
    float: left;
}

.floatrightDiv {
    float: right;
}

.middle .productImages {
    margin-top: 5px;
    text-align: center;
    height: 250px;
}

.handje {
    margin-top: 5px;
    height: 120px;
}

.middle .productImage {
    width: 33.33%;
    float: left;
    margin-top: 25px;
}

    .middle .productImage img {
        height: 250px;
    }

.middle .productImageSide {
    width: 33.33%;
    float: left;
    height: 200px;
    margin-top: 25px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.6;
}

    .middle .productImageSide img {
        height: 200px;
    }


.middle .slideBalls {
    text-align: right;
    margin-right: 30px;
    margin-top: 5px;
}

.middle .titel {
    margin-top: 15px;
    text-align: center;
    font-family: Sofia-light;
    font-size: 22px;
    color: #eb008b;
}

.middle .kop {
    font-family: Sofia-bold;
    font-size: 30px;
    color: #eb008b;
    text-align: center;
}

.adviesPanel .adviesdiv {
    width: 100%;
    float: left;
}

.adviesPanel .top {
    height: 10%;
    width: 100%;
    float: left;
}

.adviesPanel .middle {
    height: 81%;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.adviesPanel .bottom {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background-color: #f9c1ba;
    position: relative;
    height: 19%;
}

.adviesPanel .onderTitel {
    margin-top: 16px;
    font-family: Sofia-light-i;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.adviesPanel .disclaimer {
    font-family: Sofia-light-i;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #f9c1ba;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#btnStartOpnieuwTest {
    margin-right: 30px;
    width: 265px;
    height: 50px;
    background-image: url('Content/restart_btn.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

    #btnStartOpnieuwTest:active {
        background-image: url('Content/restart_btn_active.png');
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

.advies, .adviesnotactive {
    display: inline-table;
    padding: 0px 5px 0px 5px;
    font-family: Sofia-bold;
    color: #574d66;
    font-size: 24px;
    width: 954px;
    height: 153px;
    background-image: url('Content/advice_btn.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 10px;
    text-align: left;
}

.adviesnotactive {
    background-image: url('Content/advice_btn_grey.png');
    color: #fff;
}

.adviesPanel .adviesNone h1 {
    font-family: Sofia-bold;
    color: #574d66;
    font-size: 24px;
    padding: 0 90px;
}

.adviesPanel .adviesNone h2 {
    font-family: Sofia-medium;
    color: #574d66;
    font-size: 24px;
    padding: 0 90px;
}

.adviestext {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 150px 10px 10px;
}


div#hider {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    z-index: 95;
    background-color: rgba(0, 0, 0, 0.6);
}

div#popup_box {
    position: relative;
    top: 26px;
    left: 26px;
    width: 934px;
    height: 534px;
    background-image: url('Content/product_popup_bg.png');
    z-index: 100;
}

div#popupTitle {
    float: left;
    position: relative;
    top: 100px;
    left: 45px;
    font-family: Sofia-bold;
    font-size: 28px;
    color: #fff;
    height: 30px;
    width: 800px;
}

#btnPopupClose {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    width: 46px;
    height: 46px;
    background-image: url('Content/close_btn.png');
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

    #btnPopupClose:active {
        background-image: url('Content/close_btn_active.png');
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

div#popupText {
    float: left;
    position: relative;
    top: 150px;
    left: 45px;
    font-family: Sofia-medium;
    font-size: 22px;
    color: #6c617b;
    width: 500px;
    height: 312px;
}

    div#popupText b {
        font-family: Sofia-bold;
    }


    @media only screen and (max-width: 1600px){
        html{
            width: 1600px;
            height: 1000px;
        }
    }

    @media (orientation: portrait) {
        html {
            height: 1860px;
            width: 1080px;
        }
        .bottom {
            margin-top: 25%;
        }
        .adviesPanel .bottom {
            position: fixed;
        }
        .adviesPanel .middle {
            padding-top: 580px;
            height: 50%;
        }
    }